.brg_construct{ 
    width: 600px;
    max-height: calc(100vh - 84px);
    margin: 0 20px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    
    border: solid 2px rgba(254, 36, 232, 0); /*Цвет добавлен и выставлен в 0, чтобы рамка типа "была" и при наведении у нас не менялась вёрстка*/
    border-radius: 20px;
}

.brg_construct_opacity{
    border-color: rgba(254, 36, 232, 1);
}

.constructor{
    display: flex; 
    width: inherit;
    height: fit-content;
    max-height: calc(100vh - 320px);

    margin: 100px 0 0;
    padding: 0;

    flex-direction: column; 
    gap: 10px;

    overflow-y: scroll;
    scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
    scrollbar-width: thin;
}

.constructor::-webkit-scrollbar {
    width: 8px;
}

.constructor::-webkit-scrollbar-track {
    background-color: rgba(47, 47, 55, 1);
}

.constructor::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1);
}

.info{
    width: auto;
    height: fit-content;

    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
}

.ingredient{

    background: linear-gradient(90.00deg, Violet,rgba(123, 123, 123, 0) 0%);
    border-radius: 33px;
}

.ingredient_gradient{
    background: linear-gradient(90.00deg, Violet,rgba(123, 123, 123, 0) 97%);
}

.ingredient_opacity{
    opacity: 0.5;
}